<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/5.19/video.min.js"></script>
    <link rel="stylesheet" type="text/css" href="resources/style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="resources/speechtest.js"></script>

    <script type="text/javascript">
        var recognizing;
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        reset();
        recognition.onend = reset;

        recognition.onresult = function (event) {
            var temp;
            console.log(event.results.length)
            console.log(event)
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    temp = $("#p2").text();
                    $("#p2").text(temp + event.results[i][0].transcript);
                    console.log(event.results[i][0].transcript)
                    //textarea.value += event.results[i][0].transcript;
                }
            }
        }

        function reset() {
            recognizing = false;
            $("#vrec").html("Click to Speak");
        }

        function toggleStartStop() {
            if (recognizing) {
                recognition.stop();
                reset();
            } else {
                recognition.start();
                recognizing = true;
                $("#vrec").html("Click to Stop");
            }
        }
    </script>
</head>

<body>
<div id="header" style="position:relative;text-align:center;">
    <!-- define relative so child absolute's are based on this elements origin -->
    <div id="sampleLink" style="position:absolute;
            background-color: LightBlue;
            right:0px ;
            text-align:right;
            position:fixed;
            margin-right: 10;
            top:0;
            left:0;
            padding-right: 20px;
            height:20px;">
        {{ if .IsSightedIn }}
        <b><A href="{{.SignInUrl}}">Welcome {{.User}} | Log Out</A></b> {{ else }}
        <b><A href="{{.SignInUrl}}">Sign In</A></b> {{ end }}
    </div>
</div>
<br>
<center>
    <p style="color:#0000FF;font-size: 20pt">Institute for Employment-Oriented Skill Development (IEOSD Skill Test -
        Spoken English)
        <br>This Test is Free of Cost
    </p>
</center>
<div class="tab">
    <button class="tablinks" onclick="openModule(event, 'module1')" id="defaultOpen" >Automated Fluency Test </button>
    <button class="tablinks" onclick="openModule(event, 'module2')" >Listening Comprehension Skill</button>
    <button class="tablinks" onclick="openModule(event, 'module3')" >Coming soon...</button>
</div>
<div id="module1" class="tabcontent">
    <div align="center" class="container-fluid">
        <h3><br>
            Paste your text to read below <br>(Use this test only with Google Chrome browser )
        </h3> {{ if .IsSightedIn }}
        Select Sample Text
        <select id="dropdown">
            <option value="">None</option>
            {{ range $key, $value := .SampleTexts }}
            <option value="{{ $value }}">{{ $key }}</option>
            {{ end }}
        </select>
        <textarea class="form-control input-lg" id="t1" cols="60" rows="10"
                  placeholder="Welcome to IEOSD Skill Test (Spoken English)-Use this test only with Google Chrome browser - Product by IEOSD- Please paste your text or select from above list, and press the button `Click to Speak`. Once done, Click to Stop. Then Click on Evaluate button to see your score is below. If your score is less than 60%, you should consider using our software Spoken English-2020 and Spoken English for Engineers and Scientists to become fluent in professional English."></textarea>
        {{ else }}
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{{ .SignInUrl }}'">Sign in to enter
            text
        </button>
        {{ end }}
        <br>
        <p><samp id="p2"></samp></p>
        <h3>If your score is less than 60%, you should consider using our software Spoken English-2020 and Spoken English
            for Engineers and Scientists to become fluent in professional English.</h3>
        <br>
        <br>
    </div>
    <div>
        <div style="display: inline-block" class="col-xs-12 col-sm-12 col-md-5">
            <button id="vrec" onclick="toggleStartStop()" type="button" class="btn btn-primary btn-lg">Click to Speak
            </button>
            <button id='sp' type="button" class="btn btn-primary btn-lg">Evaluate</button>
            <button id='save' type="button" class="btn btn-primary btn-lg">Save</button>
            <button id='rst' type="button" class="btn btn-primary btn-lg">Clear Spoken Text</button>
            <br>
            <br>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th colspan="2">Analysis</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Total Words Uttered:</th>
                    <td><span id="vcount">0</span></td>
                </tr>
                <tr>
                    <th>Total Words Correct:</th>
                    <td><span id="ncorrect">0</span></td>
                </tr>
                <tr>
                    <th>Total Words Wrong:</th>
                    <td><span id="nwrong">0</span></td>
                </tr>
                <tr>
                    <th>Total Text Words:</th>
                    <td><span id="tcount">0</span></td>
                </tr>
                <tr>
                    <th>Percent of Correctness:</th>
                    <td><span id="vpercent">-</span></td>
                </tr>
                </tbody>
            </table>


        </div>
        <div style="display: inline-block">
            <div id="pastScores"></div>
            <br>
            <table width="600"  style="display: none;height: 250px" onclick="toggle()" id='scores'
                   class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th colspan="2"> Your past scores
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <canvas id="myChart" width="600" height="300" onclick="toggle()"></canvas>
        </div>
    </div>
</div>    
<div id="module2" class="tabcontent">
    <h4> Please select a test, carefully listen to the Audio, then answer the 5 questions by clicking on the correct answer. </h4> 
    <center>
        <select id="ListeningTests">
        </select>
    </center>
    <h4 id="qtitle"></h4>
    <hr>
<!--     <audio id='audioPlayer' controls="controls">
      <source id='audioSource' src="horse.mp3" type="audio/mpeg"></source>
        Your browser does not support the audio element.
    </audio> -->
    <audio id="audioPlayer" class="video-js vjs-default-skin" controls preload="auto" 
      width="400" height="70" poster="" data-setup='{}'>
      <source id='audioSource' src="" type='audio/mp3'/>
    </audio>
    <div id='questions'>
        <h4 id=question></h4>
        <b>Options</b>
        <form id="options">   
        </form>
        <input type="hidden" id="answer">    
        <button id="submitAns" disabled="disabled" onclick="submitAns()" type="button" class="btn btn-primary btn-lg">Submit
        </button>
    </div>
</div>
<div id="module3" class="tabcontent">
    Coming Soonish....
</div>
<hr>
<h3 style="text-align: center">IEOSD Products</h3>

<div>
    <a href="https://s3.amazonaws.com/aws-website-spokenenglishcom-73ff4/index.html">
        <IMG width="600" SRC="http://ecx.images-amazon.com/images/I/91yZ7jl0OiL._SL1500_.jpg">
        <IMG width="600" SRC="http://ecx.images-amazon.com/images/I/91PGlGTrJqL._SL1500_.jpg">
    </a>
</div>

<br>

<br>
<br>
<center>Concept by IEOSD TEAM - "All rights reserved" -IEOSD
</center>
<center>Institute for Employment-Oriented Skill Development D.No: 1-161, Near Panchayathi office, Pedevadlapudi
    Village
    Mangalagiri Mandal , Guntur Dist , Pin code: 522 503 Land line:+91 8645 241141 website: www.ieosd.com email:
    english.ieosd@gmail.com Contact No:+91 99633 78899 Whats app: +44 7808727816 +91 82976 46377 Product Information
    /Sales Contact no : Srinivasa Rao 91 99633 78899
</center>
</center>

</body>

</html>